/* You can add global styles to this file, and also import other style files */

/* https://colorhunt.co/palette/168816 */
/* Provide sufficient contrast against white background */

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #655c56;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #00a8cc;
    border-color: #00a8cc transparent #00a8cc transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block
}
