.order-container {
  display: flex;
  flex-direction: column;
}

  .order-container > * {
    width: 100%;
  }

table {
  width: 100%;
}


tr.order-detail-row {
  height: 0;
}

tr.order-element-row:not(.order-expanded-row):hover {
  background: #00a8cc;
  cursor: default;
}


.order-element-row td {
  border-bottom-width: 0;
}

.order-element-detail {
  overflow: hidden;
  display: inline-block;
  width: 75%;
}

.order-element-description {
  padding: 16px;
}
